<script setup lang="ts"></script>

<template>
  <v-container>
    <v-row>
      <v-col>
        <v-card class="mx-auto" max-width="435" rounded="0">
          <v-img
            height="100%"
            cover
            src="https://media.discordapp.net/attachments/631556967311081513/1054053644942721024/IMG_6982.jpg"
          >
            <v-avatar color="white" size="150" rounded="0">
              <v-img
                cover
                src="https://media.discordapp.net/attachments/631556967311081513/1054038439940595742/85128940_1214535458753672_2699806353387421696_n.png"
              ></v-img>
            </v-avatar>
            <v-list-item
              class="text-white"
              title="Pariyakorn Dangkrajang"
              subtitle="คณะวิทยาการสาระสนเทศ สาขาวิทยาการคอมพิวเตอร์"
            ></v-list-item>
          </v-img>
        </v-card>
      </v-col>
    </v-row>
    <v-row justify="center">
      <v-col cols="6">
        <v-table>
          <thead>
            <tr>
              <th>ระดับการศึกษา</th>
              <th>ชื่อสถาบันศึกษา</th>
              <th>เกรดเฉลี่ย</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>ประถมศึกษา</td>
              <td>โรงเรียนอรุณวิทยา</td>
              <td>-</td>
            </tr>
            <tr>
              <td>มัธยมศึกษา</td>
              <td>โรงเรียนอรุณวิทยา</td>
              <td>3.22</td>
            </tr>
            <tr>
              <td>ปริญญาตรี</td>
              <td>มหาวิทยาลัยบูรพา</td>
              <td>2.87</td>
            </tr>
          </tbody>
        </v-table>
      </v-col>
    </v-row>
    <v-row>
      <v-col>
        <v-card
          class="mx-auto"
          color="blue"
          width="700"
          title="สิ่งที่สนใจ"
          text="Food , Game , Dog"
        ></v-card>
      </v-col>
    </v-row>
  </v-container>
</template>
